<div class="row mb-5">
  <div class="col-8">
    <div class="card">
      <div class="card-header"><h3>Блюда №{{dish.Id}}</h3></div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="dishForm">
          <div>
            <div class="form-group col-12">
              <label for="firstName">Название:</label>
              <input id="firstName" type="text" class="form-control" formControlName="name"
                     [ngClass]="{ 'is-invalid': formService.isEmpty(dishForm.get('name')) }"/>
              <div>
                <div class="error-message" *ngIf="dishForm.get('name')?.errors?.['required']">Поле 'Название' должно
                  быть заполнено
                </div>
              </div>
            </div>
            <div class="form-group col-12">
              <label for="lastName">Тип:</label>
              <input id="lastName" type="text" class="form-control" formControlName="type"
                     [ngClass]="{ 'is-invalid': formService.isEmpty(dishForm.get('type'))}"/>
              <div class="error-message" *ngIf="dishForm.get('type')?.errors?.['required']">Поле 'Тип'
                должно
                быть заполнено
              </div>
            </div>
            <div class="form-group col-12">
              <label for="passportSeries">Вид:</label>
              <input id="passportSeries" type="text" class="form-control" formControlName="taggingDish"
                     [ngClass]="{ 'is-invalid': formService.isEmpty(dishForm.get('taggingDish'))}"/>
              <div class="error-message" *ngIf="dishForm.get('taggingDish')?.errors?.['required']">Поле 'Вид' должно
                быть заполнено
              </div>
            </div>
            <div class="form-group col-12">
              <button [disabled]="dishForm.invalid" type="submit" class="btn btn-primary">Сохранить</button>
              <a href="#" type="reset" class="btn btn-link m-2">Вернуться на главную</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card-header">
      Предпросмотр
      <div>
        <app-dish-card [dish]="dish"></app-dish-card>
      </div>
    </div>
  </div>
</div>
