<div class="row mb-5">
  <div class="col-8">
    <div class="card">
      <div class="card-header"><h3>Район №{{district.id}}</h3></div>
      <div class="card-body">
        <form [formGroup]="districtForm">
          <div>
            <div class="form-group col-12 mb-2">
              <label for="firstName">Название:</label>
              <input id="firstName" type="text" class="form-control" formControlName="name"
                     [ngClass]="{ 'is-invalid': formService.isEmpty(districtForm.get('name')) }"/>
              <div>
                <div class="error-message" *ngIf="districtForm.get('name')?.errors?.['required']">Поле 'Название' должно
                  быть заполнено
                </div>
              </div>
            </div>
            <div class="form-group col-12 mb-2">
              <button [disabled]="districtForm.invalid" type="submit" class="btn btn-primary" (click)="postDistrict()" style="margin-right: 10px">
                Сохранить
              </button>
              <button [disabled]="districtForm.invalid" type="submit" class="btn btn-danger" (click)="deleteDistrict()">
                Удалить
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <h6 class="mb-0 bottom-word">
          <a href="#" class="home-button text-body">
            <i class="fas fa-long-arrow-alt-left me-2"></i>Главная
          </a>
        </h6>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card-header">
      Предпросмотр
      <div>
        <app-district-card [district]="districtForm.value"></app-district-card>
      </div>
    </div>
  </div>
</div>
