@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
@import "../src/app/customStyles/errors.css";
@import "../src/app/customStyles/button.css";

.alertify .ajs-content {
  max-width: 400px;
  word-wrap: break-word;
}

.lightGrey {
  background-color: #f0f0f0;
}

.bg-grey {
  background-color: #f0f0f0;
}

h1 {
  color: #fff;
}

.lead {
  color: #aaa;
}

.wrapper {
  margin: 10vh
}

.bottom-word {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #f0f0f0;
  padding: 5px;
}

.home-button {
  border: none;
  outline: none;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  width: 1280px;
}
